<div class="bg-black p-10" style="height: 100vh; width: 100vw;text-align: center; ">
  <div *ngIf="showWebcam" class="flex justify-center items-center md:shrink-0"
    style="height:75vh;display: flex;">
    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
      [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions"
      [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
    </webcam>
    <img class="img-camera w-44 sm:w-64 md:w-72" src="../assets/img/face-id.png">
  </div>
  <div class="mt-5 mb-10 label-center">
    <button class="actionBtn h-20 w-20 bg-white rounded-full " (click)="triggerSnapshot();"></button>
  </div>
  <!-- <div class="snapshot flex justify-center items-center m-10" *ngIf="webcamImage">
      <img class="camera-mirror" [height]="600" [width]="600" [src]="webcamImage.imageAsDataUrl" />
    </div> -->

  <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
  </ul>
</div>
