@tailwind base;
@tailwind components;
@tailwind utilities;

code-input {
  /* --text-security-type: disc;
  --item-spacing: 4px;
  --item-height: 4.375em;
  --item-border: 1px solid #dddddd;
  --item-border-bottom: 1px solid #dddddd;
  --item-border-has-value: 1px solid #dddddd;
  --item-border-bottom-has-value: 1px solid #dddddd;
  --item-border-focused: 1px solid #dddddd;
  --item-border-bottom-focused: 1px solid #dddddd;
  --item-shadow-focused: 0px 1px 5px rgba(221, 221, 221, 1);
  --item-border-radius: 5px;
  --item-background: transparent;
  --color: #171516; */
}

/* td {
  font-size: 33px;
  width: 75px;
  height: 50px;
  text-align: center;
}

.d-flex {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

input {
  border: hidden;
  } */


